<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center" >Besten Dank für Ihre Nachricht</h1>
    <p class="text-center" >Wir werden Sie schnellstmöglichst kontaktieren</p>
  </div>
</div>