<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center" ><span class="glyphicon glyphicon-alert center" ></span><br>Es ist ein Fehler aufgetreten</h1>
    <p class="text-center" >Ihr System unterstüzt wahrscheinlich keine JavaScript Technologie</p>
    <p class="text-center" >Bitte kontaktieren Sie uns unter: <%= mail_to "info@azzumzug.ch" %></p>
  </div>
</div>