<section class="jumptarget" id="angebote">
	<div class="container">
		<div class="title-row text-center">
			<h1>Angebote</h1>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center item">
					<i class="fa fa-user" aria-hidden="true"></i>
				<h2>Privatumzüge</h2>
				<p>Privatumzüge sind ein fester Bestandteil unseres Portfolios. Gerade in diesem Segment bieten wir ein umfangreiches Leistungsangebot an. Dieses sorgt dafür, dass Sie in Ihrem neuen Heim noch schneller und stressfreier Losleben können und sich von Anfang an zuhause fühlen.</p>
			</div>
			
			<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-users" aria-hidden="true"></i>
				<h2>Firmenumzug</h2>
				<p>Eigentlich ist auch eine Firmenverlagerung „nur“ ein Umzug. Aber selbstverständlich ist alles eine Nummer größer und komplexer, bei dem zahlreiche Aspekte beachtet werden müssen.<br> 
				Was auf den ersten Blick oft nur wie ein erweiterter Privatumzug wirkt, ist aber eine hochkomplexe Angelegenheit. Es geht bei einem Büroumzug nicht nur darum, Mitarbeiterinnen und Mitarbeiter in neue Räumlichkeiten unterzubringen. Sie müssen sich dort auch so schnell wie möglich wohlfühlen und produktiv arbeiten können. Um dies zu gewährleisten, beginnen unsere Serviceleistungen für Büroumzüge bereits lange bevor der erste Karton gepackt wird – und das ganz entspannt, dank unserem optimierten Zeitmanagement.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-globe" aria-hidden="true"></i>
				<h2>Auslandumzug</h2>
				<p>Je nach Volumen und Gewicht des Transportgutes, Terminvorgabe und Budget kommen verschiedene Möglichkeiten in Frage: Mit Möbellastwagen in die Nachbarländer, mittels Luft- oder Seefracht in weiter entfernte Destinationen, wir können alles für Sie organisieren.<br> 
				Verlangen Sie eine Offerte und überzeugen Sie sich von den Möglichkeiten.</p>
			</div>
			<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-archive" aria-hidden="true"></i>
				<h2>Möbeltransport</h2>
				<p>Wer schon einmal selbst umgezogen ist, weiss: Jeder Möbeltransport ist ein wahrer Kraftakt. Während Stühle, Kleider oder Teller schnell im Transporter verstaut sind, braucht es für Betten, Sofas oder Küchenschränke oftmals echte Muskelkraft. Unser Tipp: Überlassen Sie doch das Schleppen und Schwitzen anderen; vertrauen Sie stattdessen auf uns.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-wrench" aria-hidden="true"></i>
				<h2>Möbelmontage</h2>
				<p>Es gibt spannendere Lektüren und interessantere Wochenendbeschäftigungen als z. B. Montageanleitungen eines schwedischen Möbelhauses. Wir kennen jeden Handgriff und finden uns auf Anhieb auch in komplexen Montageanleitungen zurecht. Wir übernehmen das für Sie, damit Sie Ihre Zeit den wichtigen Sachen widmen können. </p>
			</div>
			<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-music" aria-hidden="true"></i>
				<h2>Klaviertransport</h2>
				<p>Der sorgfältige Transport eines Klaviers oder eines Flügels ist eine wahre Kunst – bei A.Z.Z. Group profitieren Sie von der reichen Erfahrung unserer Experten für Klaviertransporte.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				<h2>Reinigung / Entsorgung</h2>
				<p>Im Rahmen eines Umzugs entsorgen wir alles, was Sie nicht mehr brauchen oder wofür Sie keinen Platz oder keine Verwendung mehr haben. (z.B. Möbel, Geräte, Kleider, Holz, usw.)<br>
				Gerne bieten wir Ihnen folgende Dienstleistungen mit Abgabegarantie an:<br>
				Grundreinigung bei Umzug, Nachreinigung bei Leerstand, Umbaureinigung, Neubaureinigung, und vieles mehr...<br>
				Regelmässige Reinigung Zuhause und im Büro:<br>
 				Unser Team bietet Ihnen einen kompetenten und zuverlässigen Service rund um das Thema Sauberkeit. Wir garantieren Ihnen perfekte Sauberkeit, Hygiene und grösste Sorgfalt und gehen speziell auf Ihre Wünsche ein. </p>
			</div>
				<div class="col-sm-10 col-sm-offset-1 text-center item">
				<i class="fa fa-handshake-o" aria-hidden="true"></i>
				<h2>Versicherung</h2>
				<p>Ihr Umzugsgut ist während der Fahrt im Umzugswagen gegen alle Arten von Unfällen, welche von aussen einwirken, versichert.<br>
				Nicht versichert sind jedoch Schäden, welche beim Ein- und Ausladen, während der Montage, der Packarbeiten oder aufgrund mangelnder Ladungssicherung entstehen.<br>
				Bei wertvollem Umzugsgüter empfehlen wir Ihnen darum, unsere All-Risk-Versicherung abzuschliessen. Für weitere Informationen nehmen Sie bitte mit uns Kontakt auf.</p>
			</div>
		</div>
	</div>

</section>		
