<section class="jumptarget" id="angebote">
	<div class="container">
		<div class="title-row text-center">
			<h1>Angebote</h1>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center item">
					<i class="fa fa-user" aria-hidden="true"></i>
				<h2>Privatumzug</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
			<div class="col-sm-6 text-center item">
				<i class="fa fa-users" aria-hidden="true"></i>
				<h2>Geschaeftumzug</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
			<div class="col-sm-6 text-center item">
				<i class="fa fa-globe" aria-hidden="true"></i>
				<h2>Auslandumzug</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
			<div class="col-sm-6 text-center item">
				<i class="fa fa-archive" aria-hidden="true"></i>
				<h2>Möbeltransport</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
			<div class="col-sm-6 text-center item">
				<i class="fa fa-wrench" aria-hidden="true"></i>
				<h2>Möbelmontage</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
			<div class="col-sm-6 text-center item">
				<i class="fa fa-music" aria-hidden="true"></i>
				<h2>Klaviertransport</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
			<div class="col-sm-6 text-center item">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				<h2>Raemung/Entsorgung</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
				<div class="col-sm-6 text-center item">
				<i class="fa fa-handshake-o" aria-hidden="true"></i>
				<h2>Versicherung</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem eu odio dignissim hendrerit. Nulla ac hendrerit magna, rutrum mattis sem. Sed ac porttitor arcu. Aliquam eu pellentesque nisi. </p>
			</div>
		</div>
	</div>

</section>		
