<section class="jumptarget" id="fotos">
	<div class="fotos-wrap">
		<div class="container">
			<div class="title-row text-center">
				<h1>FOTOS</h1>
				<ul class="row" id="lightGallery">
					<li class="col-sm-4" data-src="img/1.1.jpg">
						<img class="img-responsive" src="img/1.1.jpg" />
					</li>
					<li class="col-sm-4" data-src="img/1.2.jpg">
						<img class="img-responsive" src="img/1.2.jpg" />
					</li>
					<li class="col-sm-4" data-src="img/1.2.jpg">
						<img class="img-responsive" src="img/1.2.jpg" />
					</li>
					<li class="col-sm-4" data-src="img/1.2.jpg">
						<img class="img-responsive" src="img/1.2.jpg" />
					</li>
					<li class="col-sm-4" data-src="img/1.2.jpg">
						<img class="img-responsive" src="img/1.2.jpg" />
					</li>
					<li class="col-sm-4" data-src="img/1.2.jpg">
						<img class="img-responsive" src="img/1.2.jpg" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>