<section class="jumptarget" id="fotos">
	<div class="fotos-wrap">
		<div class="container">
			<div class="title-row text-center">
				<h1>FOTOS</h1>
			</div>
			<ul class="row" id="lightGallery">
				<li class="col-sm-4" data-src="img/fotos/image1.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image1_thumb.jpg" /></a>

				</li>
				<li class="col-sm-4" data-src="img/fotos/image2.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image2_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image3.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image3_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image4.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image4_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image5.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image5_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image6.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image6_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image7.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image7_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image8.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image8_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image9.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image9_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image10.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image10_thumb.jpg" /></a>
				</li>
				<li class="col-sm-4" data-src="img/fotos/image11.jpg">
					<a href=""><img class="img-responsive" src="img/fotos/image11_thumb.jpg" /></a>
				</li>
			</ul>
			
		</div>
	</div>
</section>