<div class="row" id="hero">	
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 hero-content text-center">
			<h1>WILLKOMMEN!</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Aliquam tellus eros, faucibus feugiat leo eget,
				fermentum molestie libero.</p>
		</div>
	</div>
</div>