<div class="hero-wrap">
	<div class="container-fluid" id="hero-bg" data-stellar-background-ratio="0.5">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 hero-content text-center">
					<div class="welcome-text">
					<div class="openinglogo">
					<img src="/img/azztransporteweblogo.svg">
					</div>
					<h1>WILLKOMMEN!</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tellus eros, faucibus feugiat leo eget,fermentum molestie libero.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
