@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}

@include declare-font-face('roboto-regular', 'roboto-regular', 400);
@include declare-font-face('roboto-medium', 'roboto-medium', 500);
@include declare-font-face('roboto-bold', 'roboto-bold', 700);




/*COLORS */

$bluegray: #455A64;
$blue: #0277BD;
$lightgray: #cfd8dc;
$darkbluegray: #37474F;
$paragraphbg: #455a64;
$lightbluegray: #ECEFF1;

/* EXTENDS */

.title {
	font-family: roboto-medium;
	color: $darkbluegray;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.paragraph {
	font-family: roboto-regular;
	color: $paragraphbg;
	font-size: 16px;
	line-height: 30px;
}

.title2 {
	font-family: roboto-medium;
	color: $darkbluegray;
	margin-bottom: 25px;
}

.buttons {
	background-color: $lightbluegray;
	text-transform: uppercase;
	font-size: 18px;
	font-family: roboto-medium;
	color: $darkbluegray;
	margin-top: 25px;
	border-radius: 0px;
}

.bottomshadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.iconshadow {
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}
.jumptarget::before {
  content:"";
  display:block;
  height:50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
  background-color: transparent;
}


section {
	.container,.container-fluid{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}



/* NAV */

.navbar-wrap {
	height: 50px;
}

.navbar {
	background-color: $lightgray;
	@extend .bottomshadow;
	border: none !important;
		.nav li a {
			font-size: 16px;
			font-family: roboto-regular;
			margin-left: 10px;
			margin-right: 10px;
			color: $darkbluegray;
			position: relative;
		}

		.nav li a:hover {
			color: #fff;
			background-color: #78909c;
			@extend .iconshadow;
		}



		.navbar-collapse {
			text-align: center;
			border: none !important;
			background-color: rgba(207, 216, 220, 0.3) !important;
		}
		.navbar-brand {
			line-height:50px;
			padding:0 15px;
			img{
				height: 50px;
			}
		}

		.navbar-toggle {
			border: 1px solid $darkbluegray; 
			background-color: invisible;
			@extend .iconshadow;
		}

		.navbar-toggle:focus,
		.navbar-toggle:hover {
			background-color: invisible;
			border: 1px solid #darkbluegray; 

		}

		.navbar-toggle .icon-bar {
			background-color: $darkbluegray;
			width: 15px;
		}


}

/* HERO */

.hero-wrap {

	.container-fluid {
		background: url(/img/3.2.jpg);
		background-size:cover;
		background-attachment:fixed;
		background-position: 50% 50px;
		background-repeat: no-repeat;
		height: calc(100vh - 50px);
		.row{
			height:100%;
		}
	}
	.hero-content {
		color: #fff;
		height:100%;
		display: flex;
		align-items: center; /* align vertical */

		.welcome-text{
			width:100%;
			margin:auto;
			.openinglogo{
				max-width:400px;
				max-height:400px;
				margin:auto;
				margin-bottom:3em;
			}
			h1 {
			font-size: 48px;
			font-family: roboto-medium;
			}
			p {
			font-family: roboto-regular;
			}
		}
	}
}



/* ÜBER UNS */

#uberuns {

	h1 {
		@extend .title;
	}
	p {
		@extend .paragraph;
	}
}

/* ANGEBOTE */

#angebote {

	.title-row {
		margin-bottom: 50px;
	}
	h1 {
		@extend .title;
	}
	p {
		@extend .paragraph;
		padding-left: 10%;
		padding-right: 10%;
	}
	h2 {
		@extend .title2;
	}
	.fa {
		color: #fff;
		padding-top: 22px;
		font-size: 4em;
	}

	i {
		display: inline-block;
		background-color: $blue;
		border-radius: 100%;
		box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
		width: 100px;
		height: 100px;
		margin-bottom: 15px;
	}

	.item {
		margin-bottom: 50px;
	}


}

/* FOTOS */

#fotos {
	.fotos-wrap{
		background-color: $lightbluegray;
	}
	
	.title-row {
		margin-bottom: 50px;
	}
	h1 {
		@extend .title;
	}
}

/* KONTAKT */

#kontakt {

	.kontakt-wrap{
		background-color: $lightgray;
	}
	.title-row {
		margin-bottom: 25px;
		}
		h1 {
			@extend .title;
		}
	.form-group {
		margin-bottom: 5px;
	}	
	.form-control {
		border: 1px solid $lightbluegray;
		border-radius: 0%;
		font-size: 16px;
		font-family: roboto-regular;
		border: 1px solid #b0bec5;
	}

	.form-control:focus {
		box-shadow: 0px 0px 5px .1px $blue;
	}

	.ht {
		height: 45px;
	}

	.btn {
		@extend .buttons;
	}
	.btn:hover {
		background-color: $blue;
		color: #ffffff;
		box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
	}
	.btn:focus {
		outline: none;
	}
	.button-row {
		margin-top: 20px;
	}

	p {
		@extend .paragraph;
		padding-left: 20%;
		padding-right: 20%;
	}

}


/* FOOTER */

#footer {
	min-height: 200px;
	background-color: $darkbluegray;
	display: flex;
	align-items: center;

	.container {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	h2 {
		color: $lightbluegray;
	}
	p {
		color: $lightbluegray;
		line-height: 150%;
	}

	.footerinfo {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

























/* Media queries */
@media screen and (max-width: 360px){
	.welcome-text{
		h1{
			font-size: 36px !important;
		}
	}
}

@media screen and (max-width: 992px) {
	#hero {
		.container {
			height: 500px;
		}
		.hero-content {
			h1 {
				font-size: 36px;
			}			
		}
	}

}

@media screen and (max-width: 767px) {
	#hero {
		.container {
			height: 350px;
		}
	}

	#angebote {
		p {
			font-size: 14px;
		}
		.fa {
		color: #fff;
		font-size: 3em;
		padding-top: 15px;
	}

		i {
			display: inline-block;
			background-color: $blue;
			border-radius: 100%;
			width: 75px;
			height: 75px;
			margin-bottom: 15px;
		}
	}

	#uberuns {
		p {
			font-size: 14px;
		}
	}

	.nav {
		li {
			a {
				padding-bottom: 20px;
				padding-top: 20px;
			}
		}
	}

	#kontakt {
		p {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}




	