<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 footerinfo">
				<h2>A.Z.Z Group Gmbh</h2>
				<p>Nullam et mattis augue. Duis vulputate lacus quis nisl egestas sodales. Ut vitae justo tempus, ullamcorper felis vitae, dapibus turpis. Proin quis massa lacus.</p>
			</div>
			<div class="col-sm-4 col-sm-offset-4 footerinfo">
				<h2>Verfügbarkeit</h2>
				<p>Adresse: Bösch 80A CH-6331 Hünenberg<br>Telefon: +41(0) 766 901299<br>E-mail: info@azzgroup.ch</p>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<%= link_to "© #{Time.current.year} created by Build-IT Group ", "http://www.builditgroup.hu/kapcsolat" %>
		</div>
	</div>
</footer>
