<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 footerinfo">
				<h2>A.Z.Z Group Gmbh</h2>
				<p>Nullam et mattis augue. Duis vulputate lacus quis nisl egestas sodales. Ut vitae justo tempus, ullamcorper felis vitae, dapibus turpis. Proin quis massa lacus.</p>
			</div>
			<div class="col-sm-4 col-sm-offset-4 footerinfo">
				<h2>Verfügbarkeit</h2>
				<p>Adresse: 1234 Switzerland Xyz Strasse 52.<br>Telefon: +3641/123-45-67<br>E-mail: info@azzgroup.ch</p>
			</div>
		</div>
	</div>
</footer>
